{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Solicitudes de Arriendo</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Arrendatario</th>
                <th>Inmueble</th>
                <th>Fecha de Solicitud</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <td>{{ solicitud.arrendatario.username }}</td>
                    <td>{{ solicitud.inmueble.nombre }}</td>
                    <td>{{ solicitud.fecha_solicitud }}</td>
                    <td>{{ solicitud.estado }}</td>
                    <td>
                        <a href="{% url 'actualizar_solicitud' solicitud.id %}" class="btn btn-primary">Actualizar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
