
html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    
    
}

body {
    background-image: url(../img/Real.png);
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen permanezca fija en la pantalla */
}


h2, h3 {
    color: #050505;
}

.main-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Define la estructura: header, contenido, footer */
    min-height: 100vh; /* Altura mínima para cubrir la ventana */
}

.content {
    padding: 20px;
}
/*==========================Configuracion Navbar===========================*/

.navbar {
    margin-bottom: 20px;
    background-color: #095480; /* Cambia esto al color que prefieras */
}

.navbar .nav-link {
    color: white; /* Cambia el color del texto del enlace */
}

.navbar .navbar-brand {
    color: white; /* Cambia el color del texto de la marca */
    font-family: "Lobster", sans-serif;
    font-size: 30px;
}

/* Cambia el color de los enlaces al pasar el ratón */
.navbar .nav-link:hover {
    color: #d4d4d4;
}

/* Si quieres cambiar el color del botón de hamburguesa */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*==========================Fin Configuracion Navbar===========================*/

/*========================Configuracion Carrusel===============================*/

.carousel {
    max-width: 1500px; /* Cambia este valor para ajustar el ancho */
    margin: 0 auto;   /* Centra el carrusel en el contenedor */
}

.carousel-inner img {
    height: 500px;    /* Cambia este valor para ajustar la altura */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionar */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption h5, .carousel-caption p {
    color: #fff; /* Texto en blanco para contraste */
}

/*========================Configuracion Carrusel===============================*/




/*=========================Configuracion form-control region y comuna============================*/

.form-control-sm {
    width: auto; /* Ajustar el ancho automáticamente */
    max-width: 150px; /* Establecer un ancho máximo */
}

.form-inline .form-group {
    margin-bottom: 0.5rem; /* Reducir el margen inferior */
}

/*=========================Fin Configuracion form-control region y comuna============================*/



/*======================Configurar Footer =========================================*/

.footer {
    background-color: #095480; /* Color de fondo del footer */
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    grid-row-start: 3; /* Ubica el footer en la tercera fila del grid */
}

footer .icon {
    display: inline-flex;
    align-items: center;
    color: white; /* Color del texto */
    text-decoration: none; /* Quitar subrayado */
    font-size: 1.5rem; /* Tamaño de la fuente */
    font-family: "Lobster", sans-serif;

}

footer .icon img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    
}

footer .text-center {
    color: #d1d1d1; /* Color del texto opcional */
}

footer .text-center p {
    margin: 0; /* Eliminar márgenes opcionales */
}

/*======================Fin Configurar Footer =========================================*/





/*====================Configurar tamaños responisvos=================================*/

/* Media queries para dispositivos pequeños */
@media (max-width: 767px) {
    .navbar {
        background-color: #095480; /* Cambia esto al color que prefieras */
    }

    .card {
        margin-bottom: 20px;
    }
}

/* Media queries para dispositivos medianos */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        background-color: #095480; /* Cambia esto al color que prefieras */
    }
}

/* Media queries para dispositivos grandes */
@media (min-width: 992px) {
    .navbar {
        background-color: #095480; /* Cambia esto al color que prefieras */
    }
}

/*====================Fin Configurar tamaños responisvos=================================*/


.form-group label {
    padding-left: 0.5rem; /* Aumenta el espacio debajo de las etiquetas */
    display: block;       /* Asegura que las etiquetas estén en una línea separada */
}

.form-control-sm {
    padding: 0.25rem 0.5rem;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 0.2rem;
}

/* Estilo para aumentar el ancho del campo comuna */
.custom-select-width {
    width: 350px !important; /* Usa !important para sobrescribir otros estilos */
}